.firstSection {
  background-color: #005695;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  height: 14vh;
  img {
    width: 6vw;
    margin-left: 10px;
  }
}
.secondSection {
  background-color: #232020;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  p{
    white-space: pre;
  }
}
